In [1]:
import pandas as pd
import torch
import torch.nn as nn
import torch.optim as optim
import torch.nn.functional as F
from torch.utils.data import Dataset

In [2]:
train_df = pd.read_csv(r"D:\ML_And_DeepLearning\ML_And_DeepLearning\NLP\Text Extraction\tweet-sentiment-extraction\train.csv")
test_df  = pd.read_csv(r"D:\ML_And_DeepLearning\ML_And_DeepLearning\NLP\Text Extraction\tweet-sentiment-extraction\test.csv")

In [3]:
train_df.head()

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative

In [4]:
test_df

          textID                                               text sentiment
0     f87dea47db  Last session of the day  http://twitpic.com/67ezh   neutral
1     96d74cb729   Shanghai is also really exciting (precisely -...  positive
2     eee518ae67  Recession hit Veronique Branquinho, she has to...  negative
3     01082688c6                                        happy bday!  positive
4     33987a8ee5             http://twitpic.com/4w75p - I like it!!  positive
...          ...                                                ...       ...
3529  e5f0e6ef4b  its at 3 am, im very tired but i can`t sleep  ...  negative
3530  416863ce47  All alone in this old house again.  Thanks for...  positive
3531  6332da480c   I know what you mean. My little dog is sinkin...  negative
3532  df1baec676  _sutra what is your next youtube video gonna b...  positive
3533  469e15c5a8   http://twitpic.com/4woj2 - omgssh  ang cute n...  positive

[3534 rows x 3 columns]

In [5]:
print(train_df.head())
print(f"Training set shape: {train_df.shape}")
print(train_df['sentiment'].value_counts())
print(train_df.isnull().sum())

       textID                                               text  \
0  cb774db0d1                I`d have responded, if I were going
1  549e992a42      Sooo SAD I will miss you here in San Diego!!!
2  088c60f138                          my boss is bullying me...
3  9642c003ef                     what interview! leave me alone
4  358bd9e861   Sons of ****, why couldn`t they put them on t...

                         selected_text sentiment
0  I`d have responded, if I were going   neutral
1                             Sooo SAD  negative
2                          bullying me  negative
3                       leave me alone  negative
4                        Sons of ****,  negative
Training set shape: (27481, 4)
sentiment
neutral     11118
positive     8582
negative     7781
Name: count, dtype: int64
textID           0
text             1
selected_text    1
sentiment        0
dtype: int64

In [6]:
class TweetDataset(Dataset):
    def __init__(self, text, sentence_text, sentiment):
        self.text= text
        self.sentiment = sentiment
        self.sentence_text = sentence_text

    def __len__(self):
        return len(self.texts)

    def __getitem__(self, idx):
        question = f"What is the {self.sentiment[idx]} part of the tweet?"
        answer = self.sentence_text[idx]

IndentationError: expected an indented block after class definition on line 1 (3137513434.py, line 1)